<div class="list-header">
    <h3><a href="/u/{{ username }}">{{ username }}</a> | {{ listname }}</h3>
</div>

<div class="list-top-header">
    <form action="/api/list/fork" method="post">
        <input name="listname" type="hidden" value="{{ listname }}" />
        <input name="username" type="hidden" value="{{ username }}" />
        <button id="fork-list-btn" class="icon-btn" name="fork-list"><img width="20" height="20" src="{{ forkIconUrl }}" /> Fork List </button>
    </form>
    <button id="run-list-btn" class="icon-btn" name="run-list"><img width="20" height="20" src="{{ runIconUrl }}" /> Use List </button>
</div>

{{#unless (userOwnsList user username) }}
<div id="flash-msg">
    <div>
        Please fork this list or create an account in order to add/edit/delete checklist items.
    </div>
</div>
{{/unless}}

<div id="list">
{{#each list}}
    <div class="list-item">
        {{ this }}
        {{!-- <input name="" type="checkbox">
        <label for="">{{ this }}</label> --}}
    </div>
    <hr>
{{/each}}
</div>

<div class="list-bot-footer">
    <form action="/api/list/{{ username }}/{{ listname }}/add" method="post">
        <button id="add-item-btn" class="icon-btn" name="additem" value="add"><img width="20" height="20" src="{{ addIconUrl }}" /> Add Item </button>
    </form>
    <button id="edit-item-btn" class="is-hidden list-item-btn icon-btn"><img width="20" height="20" src="{{ editIconUrl }}" /> Edit Item </button>
    <button id="delete-item-btn" class="is-hidden list-item-btn icon-btn use-caution" name="delete-item" value="delete"><img width="20" height="20" src="{{ deleteIconUrl }}" /> Delete Item</button>
</div>

<div class="list-description">
{{#if listInfo.description }}
    <div class="desc-header">
        <div>LIST DESCRIPTION</div>
    </div>

    <div class="list-description">
        {{ listInfo.description }}
    </div>
{{/if}}
</div>



{{#if (userOwnsList user username) }}

{{!-- <div class="controls item-ctrls">
    <form action="/api/list/{{ username }}/{{ listname }}/edit" method="post">
        <select name="editItem">
            <option value="">Please select an item to edit</option>
            {{#each list}}
                <option value="{{ @index }}">{{ this }}</option>
            {{/each}}
        </select>

        <input name="editItemText" placeholder="Edit text here">

        <button id="edit-item-btn" class="icon-btn" name="edit-item" value="edit"><img width="20" height="20" src="{{ editIconUrl }}" /> Edit Item</button>
    </form>
</div> --}}


{{/if}}

{{#if (userOwnsList user username) }}
<div class="list-controls">

    <div class="list-header">
        <h3>List Controls</h3>
    </div>

    {{!-- <div class="save-controls">
        <form action="/api/list/{{ username }}/{{ listname }}/save" method="post">
            <button class="icon-btn" name="save-list"><img width="20" height="20" src="{{ editIconUrl }}" /> Save List</button>
        </form>
    </div> --}}

    <div class="export-controls">
        <form action="/api/list/{{ username }}/{{ listname }}/export" method="get">
            <select name="exportFormat">
                <option value="">File format</option>
                <option value="txt">txt</option>
                <option value="csv">csv</option>
                <option value="pdf">pdf</option>
            </select>

            <button class="icon-btn" name="export-data" value="edit"><img width="20" height="20" src="{{ exportIconUrl }}" /> Export Data</button>
        </form>
    </div>

    <div class="rename-controls">
        <form action="/api/list/{{ username }}/{{ listname }}/rename" method="post">
            <input name="listname" value="{{ listname }}" />
            <button class="icon-btn" name="rename-list"><img width="20" height="20" src="{{ editIconUrl }}" /> Rename List</button>
        </form>
    </div>

    <div class="desc-controls">
        <form action="/api/list/{{ username }}/{{ listname }}/description" method="post">
            <input name="listdesc" value="{{ listInfo.description }}" />
            <button class="icon-btn" name="edit-list-desc"><img width="20" height="20" src="{{ editIconUrl }}" /> Edit List Description</button>
        </form>
    </div>

    <div class="delete-controls">
        <form action="/api/list/{{ username }}/{{ listname }}/delete" method="post">
        <select name="deleteItem">
            <option value="">Please select an item to delete</option>
            {{#each list}}
                <option value="{{ this }}">{{ this }}</option>
            {{/each}}
        </select>

        <button id="delete-item-btn" name="delete-item" class="icon-btn use-caution" value="delete"><img width="20" height="20" src="{{ deleteIconUrl }}" /> Delete Item</button>
    </form>
    </div>
    {{/if}}

    
</div>





{{!-- {{> clui }} --}}