<h2>{{ username }} : {{ listname }}</h2>

<div id="list">
{{#each list}}
    <div class="list-item">
        <input name="" type="checkbox">
        <label for="">{{ this }}</label>
    </div>
{{/each}}
</div>

<div class="controls">
    <form action="/api/list/{{ username }}/{{ listname }}/add" method="post">
        <button name="additem" value="add">Add Item</button>
    </form>
</div>

<div class="controls">
    <form action="/api/list/{{ username }}/{{ listname }}/edit" method="post">
        <select name="editItem">
            <option value="">Please select an item to edit</option>
            {{#each list}}
                <option value="{{ @index }}">{{ this }}</option>
            {{/each}}
        </select>

        <input name="editItemText" placeholder="Edit text here">

        <button name="edit-item" value="edit">Edit Item</button>
    </form>
</div>

<div class="controls">
    <form action="/api/list/{{ username }}/{{ listname }}/save" method="post">
        <button name="save-list">Save</button>
    </form>
</div>

<div class="controls">
    <button>Fork</button>
</div>

<div class="controls">
    <form action="/api/list/{{ username }}/{{ listname }}/export" method="post">
        <select name="exportFormat">
            <option value="">Please select a data format</option>
            <option value="txt">txt</option>
            <option value="csv">csv</option>
            <option value="pdf">pdf</option>
        </select>

        <button name="export-data" value="edit">Export Data</button>
    </form>
</div>

<div class="controls">
    <form action="/api/list/{{ username }}/{{ listname }}/delete" method="post">
        <button name="delete" value="delete">Delete</button>
    </form>
</div>


