<h2><a href="/u/{{ username }}">{{ username }}</a> : {{ listname }}</h2>

<div class="list-description">
    {{ listInfo.description }}
</div>

<div class="list-controls">
    
    <div class="controls list-ctrls">
        <form action="/api/list/fork" method="post">
            <input name="listname" type="hidden" value="{{ listname }}" />
            <input name="username" type="hidden" value="{{ username }}" />
            <button name="fork-list">Fork List</button>
        </form>
    </div>

    <div class="controls list-ctrls">
        <form action="/api/list/{{ username }}/{{ listname }}/export" method="get">
            <select name="exportFormat">
                <option value="">Please select a data format</option>
                <option value="txt">txt</option>
                <option value="csv">csv</option>
                <option value="pdf">pdf</option>
            </select>

            <button name="export-data" value="edit">Export Data</button>
        </form>
    </div>

    {{#if (userOwnsList user username) }}
    <div class="controls list-ctrls">
        <form action="/api/list/{{ username }}/{{ listname }}/save" method="post">
            <button name="save-list">Save List</button>
        </form>
    </div>

    <div class="controls list-ctrls">
        <form action="/api/list/{{ username }}/{{ listname }}/rename" method="post">
            <input name="listname" value="{{ listname }}" />
            <button name="rename-list">Rename List</button>
        </form>
    </div>

    <div class="controls list-ctrls">
        <form action="/api/list/{{ username }}/{{ listname }}/description" method="post">
            <input name="listdesc" value="{{ listInfo.description }}" />
            <button name="edit-list-desc">Edit List Description</button>
        </form>
    </div>

    <div class="controls list-ctrls">
        <form action="/api/list/{{ username }}/{{ listname }}/delete" method="post">
            <button class="use-caution" name="delete" value="delete">Delete List</button>
        </form>
    </div>
    {{/if}}
</div>

<div id="list">
{{#each list}}
    <div class="list-item">
        <input name="" type="checkbox">
        <label for="">{{ this }}</label>
    </div>
{{/each}}
</div>

{{#if (userOwnsList user username) }}
<div class="controls item-ctrls">
    <form action="/api/list/{{ username }}/{{ listname }}/add" method="post">
        <button name="additem" value="add">Add Item</button>
    </form>
</div>

<div class="controls item-ctrls">
    <form action="/api/list/{{ username }}/{{ listname }}/edit" method="post">
        <select name="editItem">
            <option value="">Please select an item to edit</option>
            {{#each list}}
                <option value="{{ @index }}">{{ this }}</option>
            {{/each}}
        </select>

        <input name="editItemText" placeholder="Edit text here">

        <button name="edit-item" value="edit">Edit Item</button>
    </form>
</div>

<div class="controls item-ctrls">
    <form action="/api/list/{{ username }}/{{ listname }}/delete" method="post">
        <select name="deleteItem">
            <option value="">Please select an item to delete</option>
            {{#each list}}
                <option value="{{ this }}">{{ this }}</option>
            {{/each}}
        </select>

        <button name="delete-item" class="use-caution" value="delete">Delete Item</button>
    </form>
</div>
{{/if}}

{{#unless (userOwnsList user username) }}
<section id="flash-msg">
    <div>
        Please fork this list or create an account in order to add/edit/delete checklist items.
    </div>
</section>
{{/unless}}

{{> clui }}